html/linalg/isomorphism-thm.html
<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>HTML5 Example</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"> </script><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body, {        
// customised options        
// • auto-render specific keys, e.g.:        
delimiters: [        
    {left: '$$', right: '$$', display: true},        
    {left: '$', right: '$', display: false},        
    {left: '\\(', right: '\\)', display: false},        
    {left: '\\[', right: '\\]', display: true}        
],        
// • rendering keys, e.g.:        
throwOnError : false      
});"></script><link rel="stylesheet" href="css/base.css"><script src="js/anime.min.js"></script><link rel="icon" href="../gacs/figs/favicon.svg" type="image/svg+xml"></head><body><header><span>$\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\bb{\cv{b}} \gdef\cc{\cv{c}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}} \gdef\lin{\mathcal{L}} \gdef\null{\mathrm{null}} \gdef\im{\mathrm{im}} \gdef\rk{\mathrm{rk}} \gdef\isom{\approx} \gdef\supp{\mathrm{supp}} \gdef\NN{\mathbb{N}} \gdef\ee{\cv{e}} \gdef\epi{\mathrm{epi}}$</span><span>Subjects</span><input type="text" name=""></header><div class="timeline"><audio class="audio" src="audio/vector-space.m4a" controls></audio></div><main><div class="outline"><div class="title">Linear Algebra</div><ol><li>Vector Spaces</li><li>Linear Transformations</li><li>The Isomorphism Theorems</li><li>Modules I: Basis Properties</li><li>Modules II: Free and Noetherian Modules</li><li>Modules over a Principal Ideal Domain</li><li>The Structure of a Linear Operator</li></ol></div><main class="content"><main class="content2"><div class="legend"><span class="blk-letter def-letter">D</span>efinition <span class="blk-letter thm-letter">T</span>heorem <span class="blk-letter ex-letter">E</span>xample <span class="blk-letter lem-letter">L</span>emma <span class="blk-letter cor-letter">C</span>orollary <span class="blk-letter prf-letter">P</span>roof</div><div class="chapter" id="chp-isomorphism-theorems"><h1>The Isomorphism Theorems</h1><h2>Quotient Spaces</h2><div class="thm definition">Let $S \le V$ and $\vv \in V$. Then $[\vv]=\vv+S=\{\vv+\ss:\ss\in S\}$ is called a <span class="kw">coset</span> of $S$ in $V$, and $\vv$ is a <span class="kw">coset representative</span> for $\vv+S$.</div><div class="thm theorem">$[\xx] = [\vv]\Leftrightarrow \xx \in [\vv]$</div><div class="thm theorem">Let $S \le V$. The binary relation $\uu\equiv \vv\Leftrightarrow \uu-\vv\in S$ is an equivalence relation on $V$, whose equiv. classes are $[\vv]=\vv+S$.</div><div class="thm definition">Let $S \le V$. The set $V/S=\{\vv+S:\vv\in V\}$ is the <span class="kw">quotient space</span> of $V$ modulo $S$. The <span class="kw">zero</span> vector in $V/S$ is $\{0\}=0+S=S$.</div><div class="thm theorem">$V/S$ is a vector space under well-defined operations$$\alpha(\uu+S)=\alpha\uu + S quad (\uu+S)=(\vv+S)=(\uu+\vv)+S$$</div><h3>The Natural Projection and the Correspondence Theorem</h3><div class="thm definition"><span class="kw">Canonical</span> (or <span class="kw">natural</span>) <span class="kw">projection</span> of $V$ onto $V/S$:$$\pi_S:V \rightarrow V/S \quad \pi_S(\vv)=\vv+S = [\vv] $$</div><div class="thm theorem">$\pi_S\in \epi()$</div><div class="thm theorem"></div><h2>The Universal Property of Quotients and the First Isomorphism Theorem</h2><div class="thm theorem"></div><div class="thm theorem"></div><h2>Quotient Spaces, Complements and Codimension</h2><div class="thm theorem"></div><div class="thm corollary"></div><div class="thm definition"></div><div class="thm note"></div><h2>Additional Isomorphism Theorems</h2><div class="thm theorem"> </div><div class="thm theorem"></div><div class="thm theorem"></div><h2>Linear Functionals</h2><div class="thm definition"></div><div class="thm definition"></div><div class="thm theorem"></div><div class="thm theorem"></div><h2>Dual Bases</h2><div class="thm definition"></div><div class="thm theorem"></div><div class="thm definition"></div><div class="thm theorem"></div><h2>Reflexivity</h2><div class="thm definition"></div><div class="thm definition"></div><div class="thm theorem"></div><div class="thm definition"></div><div class="thm theorem"></div><h2>Annihilators</h2><div class="thm definition"></div><div class="thm theorem"></div><div class="thm theorem"></div><div class="thm definition"></div><div class="thm note"></div><div class="thm theorem"></div><div class="thm theorem"></div><h2>Operator Adjoints</h2><div class="thm definition"></div><div class="thm theorem"></div><div class="thm theorem"></div><div class="thm theorem"></div><div class="thm corollary"></div><div class="thm theorem"></div><h2>Exercises</h2></div></main></main></main></body></html>

html/linalg/isomorphism-thm.pug
doctype html
include base.pug
html(lang="en")
  include head.pug
  body
    header
      include gdefs.pug
      span Subjects
      input(type="text", name="")
    .timeline
      audio.audio(src="audio/vector-space.m4a" controls)
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator
      main.content
        main.content2
          .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
          .chapter#chp-isomorphism-theorems
            h1 The Isomorphism Theorems
            h2 Quotient Spaces
            +def Let $S \le V$ and $\vv \in V$. Then $[\vv]=\vv+S=\{\vv+\ss:\ss\in S\}$ is called a #[span.kw coset] of $S$ in $V$, and $\vv$ is a #[span.kw coset representative] for $\vv+S$.
            +thm $[\xx] = [\vv]\Leftrightarrow \xx \in [\vv]$
            +thm Let $S \le V$. The binary relation $\uu\equiv \vv\Leftrightarrow \uu-\vv\in S$ is an equivalence relation on $V$, whose equiv. classes are $[\vv]=\vv+S$.
            +def Let $S \le V$. The set $V/S=\{\vv+S:\vv\in V\}$ is the #[span.kw quotient space] of $V$ modulo $S$. The #[span.kw zero] vector in $V/S$ is $\{0\}=0+S=S$.
            +thm $V/S$ is a vector space under well-defined operations
              | $$\alpha(\uu+S)=\alpha\uu + S quad (\uu+S)=(\vv+S)=(\uu+\vv)+S$$
            h3 The Natural Projection and the Correspondence Theorem
            +def #[span.kw Canonical] (or #[span.kw natural]) #[span.kw projection] of $V$ onto $V/S$:
              | $$\pi_S:V \rightarrow V/S \quad \pi_S(\vv)=\vv+S = [\vv] $$
            +thm $\pi_S\in \epi()$
            +thm
            
            h2 The Universal Property of Quotients and the First Isomorphism Theorem
            +thm
            +thm
            h2 Quotient Spaces, Complements and Codimension
            +thm
            +cor
            +def
            +not
            h2 Additional Isomorphism Theorems
            +thm 
            +thm
            +thm
            h2 Linear Functionals
            +def
            +def
            +thm
            +thm

            h2 Dual Bases
            +def
            +thm
            +def
            +thm
            
            h2 Reflexivity
            +def
            +def
            +thm
            +def
            +thm
            h2 Annihilators
            +def
            +thm
            +thm
            +def
            +not
            +thm
            +thm
            h2 Operator Adjoints
            +def
            +thm
            +thm
            +thm
            +cor
            +thm
            h2 Exercises
