html/linalg/linear-transformations.html
<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>HTML5 Example</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"> </script><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body, {        
// customised options        
// • auto-render specific keys, e.g.:        
delimiters: [        
    {left: '$$', right: '$$', display: true},        
    {left: '$', right: '$', display: false},        
    {left: '\\(', right: '\\)', display: false},        
    {left: '\\[', right: '\\]', display: true}        
],        
// • rendering keys, e.g.:        
throwOnError : false      
});"></script><link rel="stylesheet" href="css/base.css"><script src="js/anime.min.js"></script><link rel="icon" href="../gacs/figs/favicon.svg" type="image/svg+xml"></head><body><header><span>$\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\bb{\cv{b}} \gdef\cc{\cv{c}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}} \gdef\lin{\mathcal{L}} \gdef\null{\mathrm{null}} \gdef\im{\mathrm{im}} \gdef\rk{\mathrm{rk}} \gdef\isom{\approx} \gdef\supp{\mathrm{supp}} \gdef\NN{\mathbb{N}} \gdef\ee{\cv{e}}$</span><span>Subjects</span><input type="text" name=""></header><div class="timeline"><audio class="audio" src="audio/vector-space.m4a" controls></audio></div><main><div class="outline"><div class="title">Linear Algebra</div><ol><li><a href="vector-spaces.html">Vector Spaces</a></li><li><a href="#sec1-linear-transformations">Linear Transformations</a></li><li><a href="isomorphism-thm.html">The Isomorphism Theorems</a></li><li><a href="">Modules I: Basis Properties</a></li><li><a href="">Modules II: Free and Noetherian Modules</a></li><li><a href="">Modules over a Principal Ideal Domain</a></li><li><a href="">The Structure of a Linear Operator</a></li></ol></div><main class="content"><main class="content2"><div class="legend"><span class="blk-letter def-letter">D</span>efinition <span class="blk-letter thm-letter">T</span>heorem <span class="blk-letter ex-letter">E</span>xample <span class="blk-letter lem-letter">L</span>emma <span class="blk-letter cor-letter">C</span>orollary <span class="blk-letter prf-letter">P</span>roof</div><div class="chapter" id="chp-linear-transformations"><div class="chapter" id="chp-linear-transformations"></div><h1>Linear Transformations</h1><h2>Linear Transformations</h2><div class="slide"><div class="thm definition"><span class="kw">Linear transformation</span>: function $\tau: V \rightarrow W$ where:$$\tau(\alpha \xx + \beta\yy) = \alpha \tau(\xx) + \beta \tau(\yy), \forall \alpha,\beta\in \FF, \xx, \yy \in V$$<ul><li>$\mathcal{L}(V,W)$: set of all linear transformations $\tau: V \rightarrow  W$</li><li><span class="kw">Linear operator</span>: $\tau: V \rightarrow V$ ($\mathcal{L}(V) = \mathcal{L}(V,V)$)</li><li><span class="kw">Real operator</span>: $\tau$ linear operator and $\FF=\RR$.</li><li><span class="kw">Complex operator</span>: $\tau$ linear operator and $\FF=\CC$.</li><li><span class="kw">Linear functional</span>: $\tau: V \rightarrow \FF$.</li><li><span class="kw">Dual space</span>: $V^\ast$: set of all linear functionals on $V$.</li></ul></div><div class="thm definition">Other terms for linear transformations<ol><li><span class="kw">Homomorphism</span> for linear transformation</li><li><span class="kw">Endomorphism</span> for linear operator</li><li><span class="kw">Monomorphism</span> for injective linear transformation</li><li><span class="kw">Epimorphism</span> for surjective linear transformation</li><li><span class="kw">Isomorphism</span> for bijective linear transformation</li><li><span class="kw">Automorphism</span> for bijective linear operator</li></ol></div><div class="thm theorem"><ol><li>$\lin(V,W)$ is a vector space under $\tau + \sigma$ and $\alpha \tau$</li><li>$\sigma\in \lin(U,V), \tau \in \lin(V,W) \Rightarrow \tau\sigma \in \lin(U,W)$</li><li>$\tau \in \lin(V,W)$ bijective $\Rightarrow \tau^(-1)\in \lin(W,V)$</li><li>$\lin(V)$ is an algebra under function composition.</li><ul><li>additive identity: zero map $0(\vv)=0$</li><li>multiplicative identity: identity map $\iota(\vv)=\vv$</li></ul></ol></div><div class="thm proof">todo</div><div class="thm theorem">If $B=\{\vv_i:i \in I\}\basis V$, we can fully define $\tau \in \lin(V,W)$ by specifying $\tau \vv_i, \forall \vv_i \in B$ and extending $\tau$ to $V$ by linearity:$$\tau(\alpha_1\vv_1+\cdots + \alpha_n\tau_n)=\alpha_1 \tau \vv_1 + \cdots + \alpha_n \tau \vv_n.$$</div><div class="thm proof">todo</div><div class="thm note">$\tau\in \lin(V,W)$ and $S \le V \Rightarrow \tau|_S \in \lin(S,W).$</div></div><h2>The Kernel and Image of a Linear Transformation</h2><div class="slide"><div class="thm definition">Let $\tau \in \lin(V,W)$<ol><li><span class="kw">Kernel</span> and <span class="kw">image</span> of $\tau$:$$\ker \tau = \{\vv\in V: \tau\vv = 0\} \quad \im(\tau) = \{\tau\vv:\vv\in V\}$$</li><li><span class="kw">Nullity</span> and <span class="kw">rank</span> of $\tau$:$$\null\ \tau = \dim \ker(\tau) \quad \rk(\tau)=\dim\im(\tau)$$</li></ol></div><div class="thm theorem">Let $\tau \in \lin(V,W)$. Then<ol><li>$\tau$ surjective $\Leftrightarrow \im \tau = W;$</li><li>$\tau$ injective $\Leftrightarrow \ker \tau = \{0\}.$</li></ol></div></div><h2>Isomorphisms</h2><div class="slide"><div class="thm definition">spaces $V,W$ are <span class="kw">isomorphic</span>, written $V \isom W$, if there is an <span class="kw">isomorphism</span> (a bijective $\tau \in \lin(V,W)$).</div><div class="thm theorem">Let $\tau \in \lin(V,W)$ be an isomorphism. Let $S \subseteq V$. Then<ol><li>$V = \span{S} \Leftrightarrow W = \span{\tau S}$;</li><li>$S$ is LI in $V \Leftrightarrow \tau S$ is LI in $W$;</li><li>$S \basis V \Leftrightarrow \tau S \basis W$.</li></ol></div><div class="thm theorem">$\tau \in \lin(V,W)$ is an isomorphism iff there is $B \basis V$ s.t. $tau B \basis W$.</div><div class="thm theorem">$V \isom W \Leftrightarrow dim V = dim W$.</div><div class="thm definition">$(\FF^B)_0 = \{(f:B\rightarrow \FF): \supp(f)\lt\infty\}.$</div><div class="thm definition">$\delta_\ww : B \rightarrow \FF, \delta_\ww \in (\FF^B)_0$ as $\delta_\ww(\vv) = \delta_{\ww = \vv}$.</div><div class="thm theorem">$\{\delta_\ww \in (\FF^B)_0: \ww \in B\} \basis (\FF^B)_0$.</div><div class="thm theorem">If $dim V(\FF) = n\in \NN$, then $V \isom \FF^n$. In general, if $|B|=\kappa$ and $dim V_{\FF} = \kappa$, then $V \isom (\FF^B)_0$.</div></div><h2>The Rank Plus Nullity Theorem</h2><div class="slide"><div class="thm theorem">Let $\tau \in \lin(V,W)$<ol> <li>$V=\ker \tau \oplus S \Rightarrow S \isom \im \tau$</li><li><The>rank plus nullity theorem</The>: $$\dim \ker(\tau) + \dim \im(\tau) = \dim V$$ $$\rk \tau + \null \tau = \dim V$$</li></ol></div><div class="thm corollary">Let $\dim V = \dim W \lt \infty$. Then $\tau \in \lin(V,W)$ is injective iff it is surjective.</div></div><h2>Linear Transformations from $\mathbb{F}^n$ to $\mathbb{F}^m$</h2><div class="slide"><div class="thm theorem" id="thm-mtx-lin-transf"><ol><li>$A \in \mathcal \Rightarrow  \tau_A = A\vv \in \lin(\FF^n,\FF^m)$</li><li>$\tau \in \lin(\FF^n,\FF^m) \Rightarrow \tau = \tau_A$, where $A=[\tau \ee_1|\cdots|\tau\ee_n]$</li></ol></div><div class="thm definition">The matrix $A$ in <a href="#thm-mtx-lin-transf"></a> is called the <span class="kw">matrix</span> of $\tau$.</div><div class="thm theorem">Let $A\in \mathcal{M}_{m,n}(\FF)$<ol><li>$\tau_A:\FF^n \rightarrow \FF^m$ is injective $\Leftrightarrow \rk(A)=n$</li><li>$\tau_A:\FF^n \rightarrow \FF^m$ is surjective $\Leftrightarrow \rk(A)=m$</li></ol></div></div><h2>Change of Basis Matrices</h2><div class="slide"><div class="thm definition"><span class="kw">Change of basis/coordinate operator</span>: $\phi_{C,B}=\phi_C\phi^{-1}_B$ for ordered bases $C,B \basis V$.</div><div class="thm theorem">If $B=(\bb_1,\dots,\bb_n),C \basis V$, then $phi_{C,B}$ is an automorphism for $\FF^n$, with matrix $M_{C,B}=[[\bb_1]_C|\cdots|[\bb_n]_C]$. Hence, $[\vv]_C = M_{C,B}[\vv]_B$ and $M_{B,C} = M_{C,B}^{-1}$.</div><div class="thm theorem">If $A=M_{C,B}$, then one unknown ($A,B$ or $C$) can be uniquely determined from other two.</div></div><h2>The Matrix of a Linear Transformation</h2><div class="slide"> <div class="thm theorem">If $\tau \in \lin(V,W)$ and $B\basis V,C\basis W$, then:$$[\tau \vv]_C=[\tau]_{C,B}[\vv]_B \quad [\tau]_{C,B}=[[\tau \bb_1]_C|\cdots|[\tau \bb_n]_C]$$
If $V=W$ and $B=C$, then $[\tau]_{C,B}=[\tau]_B$ and $[\tau\vv]_B=[\tau]_B[\vv]_B$.</div><div class="thm definition"><span class="kw">Matrix</span> of $\tau$ <span class="kw">w.r.t</span> bases $B$ and $C$: $[\tau]_{C,B}$.</div><div class="thm theorem">Let $\dim V_\FF \lt \infty, \dim W_\FF \lt \infty$ and $B=(\bb_1,\dots,\bb_n) \basis V, C=(\cc_1,\dots,\cc_m)\basis W$.<ol><li>$\mu: \lin(V,W)\isom \mathcal{M}_{m,n}(\FF)$ where $\mu(\tau)=[\tau]_{C,B}$, hence $$\dim \lin(V,W)=\dim \mathcal{M}_{m,n}(\FF)=mn$$</li><li>If $\sigma\in\lin(U,V), \tau\in\lin(V,W), B\basis U, C\basis V,D\basis W$, then$$[\tau\sigma]_{D,B}=[\tau]_{D,C}[\sigma]_{C,B}.$$</li></ol></div><div class="thm note"><a href="#thm-lintransf-mtx-isom"></a>.2. is the main reason for definition of matrix multiplication]</div></div><h2>Change of Bases for Linear Transformations</h2><div class="slide"><div class="thm theorem">Let $\tau \in \lin(V,W), B,B'\basis V, C,C'\basis W$. Then$$[\tau]_{C',B'}=M_{C',C}[\tau]_{C,B}M_{B,B'}.$$ </div><div class="thm corollary">If $\tau\in\lin(V,W), B,C\basis V$, then $$[\tau]_C=M_{C,B}[\tau]_BM_{C,B}^{-1}$$</div></div><h2>Equivalence of Matrices</h2><div class="slide"><div class="thm definition">Two matrices $A,B$ are <span class="kw">equivalent</span> if there exist invertible matrices $P,Q$ s.t.$$B=PAQ^{-1}$$</div><div class="thm theorem">$A,B\in \mathcal{M}_{m,n}$ are equivalent iff they represent the same $\tau\in\lin(V,W)$, but possibly w.r.t different ordered bases. In this case, $A,B$ represent the same $S\subset\lin(V,W)$.</div></div><h2>Similarity of Matrices</h2><div class="slide"><div class="thm definition">Two matrices $A,B$ are <span class="kw">similar</span>, $A \sim B$, if $$B=PAP^{-1}$$ for some invertible matrix $P$. Equivalence classes associated with similarity are called <span class="kw">similarity classes</span>.</div><div class="thm theorem">$A,B \in \mathcal{M}_n$ are similar iff they represent the same $\tau \in \lin(V)$ but possibly w.r.t different ordered bases. In this case, $A,B$ represent the same $S \subset \lin(V)$.</div></div><h2>Similarity of Operators</h2><div class="slide"><div class="thm definition">$\tau,\sigma\in\lin(V)$ are <span class="kw">similar</span>, $\tau\sim\sigma$, if there exists an automorphism $\phi\in\lin(V)$ s.t. $$\sigma = \phi\tau\phi^{-1}.$$
The equivalence classes associated with similarity are called <span class="kw">similarity classes</span>.</div><div class="thm theorem">$\tau,\sigma\in\lin(V)$ are similar iff there is a matrix $A$ that represents both operators, but w.r.t. possibly different ordered bases. In this case, $\tau, \sigma$ are represented by the same $S\subset \mathcal{M}_n$.</div></div><h2>Invariant Subspaces and Reducing Pairs</h2><div class="slide"><div class="thm definition">$S \le V$ is <span class="kw">invariant under</span> $\tau\in\lin(V)$ or $\tau$-<span class="kw">invariant</span> if $\tau S\subseteq S$, i.e., if $\tau|_S\in\lin(S)$.</div><div class="thm definition">$(S,T)$ <span class="kw">reduces</span> $\tau\in\lin(V)$ if $V=S\oplus T$ and $S,T$ are $\tau$-invariant.</div><div class="thm definition">If $(S,T)$ reduces $\tau$, then $\tau = \tau|_S \oplus \tau|_T$ is the <span class="kw">direct sum</span> of $\tau|_S, \tau|_T$.</div></div><h2>Projection Operators</h2><div class="slide"><div class="thm definition">Let $V=S\oplus T$. Then $\rho_{S,T}:V\rightarrow V$, where $\rho_{S,T}(\ss + \tt)=\ss$, for $\ss\in S, \tt \in T$, is called <span class="kw">projection onto</span> $S$ <span class="kw">along</span> $T$.</div><div class="thm theorem">Let $\rho\in\lin(V)$<ol><li>$V=S\oplus T \Rightarrow \rho_{S,T}+\rho_{T,S}=\iota$</li><li>$\rho=\rho_{S,T}\Rightarrow \im(\rho) = S, \ker(\rho)=T$ and $V=\im(\rho)\oplus\ker(\rho)$</li><li>$\vv\in\im(\rho)\Leftrightarrow \rho\vv=\vv$</li><li>If $\sigma\in\lin(V), V=\im(\rho)\oplus\ker(\sigma)$ and $\sigma|_{\im(\sigma)}=\iota$, then $\sigma$ is projection onto $\im(\sigma)$ along $\ker(\sigma)$.</li></ol></div><div class="thm definition">$\tau\in\lin(V)$ is <span class="kw">idempotent</span> if $\tau^2 = \tau$.</div><div class="thm theorem">$\tau\in\lin(V)$ is a projection iff it is idempotent.</div></div><h3>Projections and Invariance</h3><div class="slide"><div class="thm theorem">$S \lt V$ is $\tau$-invariant iff $\exists \rho=\rho_{S,T}$ s.t. $$\rho \tau \rho=\tau \rho$$</div><div class="thm theorem">$(S,T)$ reduces $\tau\in\lin(V)$ iff $\tau$ commutes with $\rho_{S,T}$.</div></div><h3>Orthogonal projections and resolutions of the identity</h3><div class="slide"><div class="thm definition">Two projections $\rho, \sigma\in \lin(V)$ are <span class="kw">orthogonal</span>, $\rho\perp \sigma$, if $\rho\sigma=\sigma\rho=0$.</div><div class="thm note">$\rho \perp \sigma \Leftrightarrow \im(\rho)\subseteq \ker(\sigma)$ and $\im(\sigma) \subseteq \ker(\sigma)$</div><div class="thm definition">A <span class="kw">resolution of the identity</span> on $V$ is $\rho_1+\cdots+\rho_k=\iota$, where $\rho_i\perp\rho_j$ for $i\neq j$.</div><div class="thm theorem"> <ol> <li>If $\sum_{i}^k \rho_i=\iota$ is a resolution of the identity, then $V=\sum_i^k \im(\rho_i)$ and $\rho_i$ is a projection onto $\im(\rho_i)$ along $\ker(\rho_i)=\bigoplus_{j\neq i} \im(\rho_j)$</li><li>Conversely, if $V=\bigoplus_j^k S_i$ and if $\rho_i$ is projection onto $S_i$ along $\bigoplus_{j\neq i} S_j$, then $\sum_i^k\rho_i = \iota$ is a resolution of the identity.</li></ol></div></div><h3>The algebra of projections</h3><div class="slide"><div class="thm theorem">Let $\rho,\sigma$ be projections on $V_\FF$, with $\mathrm{char}(\FF)\neq 2$.<ol><li>$\rho+\sigma$ is a projection iff $\rho\perp\sigma$, where$$\im(\rho+\sigma)=\im(\rho)\oplus\im(\sigma) \quad \ker(\rho+\sigma)=\ker(\rho)\cap\ker(\sigma)$$</li><li>$\rho-\sigma$ is a projection iff $\rho\sigma=\sigma\rho=\sigma$, where$$\im(\rho-\sigma)=\im(\rho)\cap\ker(\sigma) \quad \ker(\rho-\sigma)=\ker(\rho)\oplus\im(\sigma)$$</li><li>$\rho\sigma$ is a projection if $\rho\sigma=\sigma\rho$, where$$\im(\rho\sigma)=\im(\rho)\cap\im(\sigma)\quad \ker(\rho\sigma)=\ker(\rho)+\ker(\sigma)$$</li></ol></div></div><h2>Topological Vector Spaces</h2><h3>The definition</h3><div class="slide"><div class="thm definition">$(V,\mathcal{T})$, where $\mathcal{T}$ is a topology on vector space $V$, is a <span class="kw">topological vector space</span> if addition $A(\vv,\ww)=\vv+\ww$ and scalar multiplication $M(\alpha,\vv)=\alpha\vv$ are continuous functions.</div></div><h3>The standard topology on $\RR^n$</h3><div class="slide"><div class="thm definition">$\RR^n$ is a topological vector space under the <span class="kw">standard topology</span>, with the set of <span class="kw">open rectangles</span> $B=\{I_1\times\cdots\times I_n: I_i$'s are open intervals in $\RR\}$ as a base of the topology, which is also induced by the Euclidean metric on $\RR^n$.</div></div><h3>The natural topology on $V$</h3><div class="slide"><div class="thm definition">The <span class="kw">natural topology</span> $\mathcal{T}$ on the real vector space $V$ of dimension $n$ is a topology where all linear functionals are continuous.</div><div class="thm theorem">For each real vector space $V$ of dimension $n$, there is a unique natural topology determined by the fact that the coordinate map $\phi: V \rightarrow \RR^n$ is a homeomorphism, where $\RR^n$ has the standard topology induced by the Euclidean metric.</div></div><h2>Linear Operators on $V^\CC$</h2><div class="slide"><div class="thm definition"><Complexification></Complexification> of $\tau$: $\tau^\CC(\uu+\vv i)=\tau(\uu)+\tau(\vv)i$.</div><div class="thm theorem">If $\tau,\sigma\in\lin(V)$, then<ol><li>$(\alpha\tau)^\CC = \alpha\tau^\CC, \alpha in \RR.$</li><li>$(\tau+\sigma)^\CC = \tau^\CC+\sigma^\CC$</li><li>$(\tau\sigma)^\CC = \tau^\CC\sigma^\CC$</li><li>$[\tau\vv]^\CC = \tau^\CC(\vv^\CC)$</li></ol></div><div class="thm theorem">Let $\tau\in\lin(V_\RR)$ and $B\basis V$. Then $$[\tau^\CC]_{\mathrm{cpx}(B)}=[\tau]_B.$$</div></div></div></main></main></main></body></html>

html/linalg/linear-transformations.pug
doctype html
include base.pug
html(lang="en")
  include head.pug
  body
    header
      include gdefs.pug
      span Subjects
      input(type="text", name="")
    .timeline
      audio.audio(src="audio/vector-space.m4a" controls)
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li <a href="vector-spaces.html">Vector Spaces</a>
          li <a href="#sec1-linear-transformations">Linear Transformations</a>
          li <a href="isomorphism-thm.html">The Isomorphism Theorems</a>
          li <a href="">Modules I: Basis Properties</a>
          li <a href="">Modules II: Free and Noetherian Modules</a>
          li <a href="">Modules over a Principal Ideal Domain</a>
          li <a href="">The Structure of a Linear Operator</a>

      main.content
        main.content2
          .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
          .chapter#chp-linear-transformations
            .chapter#chp-linear-transformations
            h1 Linear Transformations
            h2 Linear Transformations
            .slide
              +def #[span.kw Linear transformation]: function $\tau: V \rightarrow W$ where:
                | $$\tau(\alpha \xx + \beta\yy) = \alpha \tau(\xx) + \beta \tau(\yy), \forall \alpha,\beta\in \FF, \xx, \yy \in V$$
                ul
                  li $\mathcal{L}(V,W)$: set of all linear transformations $\tau: V \rightarrow  W$
                  li #[span.kw Linear operator]: $\tau: V \rightarrow V$ ($\mathcal{L}(V) = \mathcal{L}(V,V)$)
                  li #[span.kw Real operator]: $\tau$ linear operator and $\FF=\RR$.
                  li #[span.kw Complex operator]: $\tau$ linear operator and $\FF=\CC$.
                  li #[span.kw Linear functional]: $\tau: V \rightarrow \FF$.
                  li #[span.kw Dual space]: $V^\ast$: set of all linear functionals on $V$.
              +def Other terms for linear transformations
                ol
                  li #[span.kw Homomorphism] for linear transformation
                  li #[span.kw Endomorphism] for linear operator
                  li #[span.kw Monomorphism] for injective linear transformation
                  li #[span.kw Epimorphism] for surjective linear transformation
                  li #[span.kw Isomorphism] for bijective linear transformation
                  li #[span.kw Automorphism] for bijective linear operator
              +thm
                ol
                  li $\lin(V,W)$ is a vector space under $\tau + \sigma$ and $\alpha \tau$
                  li $\sigma\in \lin(U,V), \tau \in \lin(V,W) \Rightarrow \tau\sigma \in \lin(U,W)$
                  li $\tau \in \lin(V,W)$ bijective $\Rightarrow \tau^(-1)\in \lin(W,V)$
                  li $\lin(V)$ is an algebra under function composition.
                  ul
                    li additive identity: zero map $0(\vv)=0$
                    li multiplicative identity: identity map $\iota(\vv)=\vv$
              +prf todo
              +thm If $B=\{\vv_i:i \in I\}\basis V$, we can fully define $\tau \in \lin(V,W)$ by specifying $\tau \vv_i, \forall \vv_i \in B$ and extending $\tau$ to $V$ by linearity:
                | $$\tau(\alpha_1\vv_1+\cdots + \alpha_n\tau_n)=\alpha_1 \tau \vv_1 + \cdots + \alpha_n \tau \vv_n.$$
              +prf todo
              +not $\tau\in \lin(V,W)$ and $S \le V \Rightarrow \tau|_S \in \lin(S,W).$

            h2 The Kernel and Image of a Linear Transformation
            .slide
              +def Let $\tau \in \lin(V,W)$
                ol
                  li #[span.kw Kernel] and #[span.kw image] of $\tau$:
                    | $$\ker \tau = \{\vv\in V: \tau\vv = 0\} \quad \im(\tau) = \{\tau\vv:\vv\in V\}$$
                  li #[span.kw Nullity] and #[span.kw rank] of $\tau$:
                    | $$\null\ \tau = \dim \ker(\tau) \quad \rk(\tau)=\dim\im(\tau)$$
              +thm Let $\tau \in \lin(V,W)$. Then
                ol
                  li $\tau$ surjective $\Leftrightarrow \im \tau = W;$
                  li $\tau$ injective $\Leftrightarrow \ker \tau = \{0\}.$
            h2 Isomorphisms
            .slide
              +def spaces $V,W$ are #[span.kw isomorphic], written $V \isom W$, if there is an #[span.kw isomorphism] (a bijective $\tau \in \lin(V,W)$).
              +thm Let $\tau \in \lin(V,W)$ be an isomorphism. Let $S \subseteq V$. Then
                ol
                  li $V = \span{S} \Leftrightarrow W = \span{\tau S}$;
                  li $S$ is LI in $V \Leftrightarrow \tau S$ is LI in $W$;
                  li $S \basis V \Leftrightarrow \tau S \basis W$.
              +thm $\tau \in \lin(V,W)$ is an isomorphism iff there is $B \basis V$ s.t. $tau B \basis W$.
              +thm $V \isom W \Leftrightarrow dim V = dim W$.
              +def $(\FF^B)_0 = \{(f:B\rightarrow \FF): \supp(f)\lt\infty\}.$
              +def $\delta_\ww : B \rightarrow \FF, \delta_\ww \in (\FF^B)_0$ as $\delta_\ww(\vv) = \delta_{\ww = \vv}$.
              +thm $\{\delta_\ww \in (\FF^B)_0: \ww \in B\} \basis (\FF^B)_0$.
              +thm If $dim V(\FF) = n\in \NN$, then $V \isom \FF^n$. In general, if $|B|=\kappa$ and $dim V_{\FF} = \kappa$, then $V \isom (\FF^B)_0$.
              
            h2 The Rank Plus Nullity Theorem
            .slide
              +thm Let $\tau \in \lin(V,W)$
                ol 
                  li $V=\ker \tau \oplus S \Rightarrow S \isom \im \tau$
                  li #[The rank plus nullity theorem]: $$\dim \ker(\tau) + \dim \im(\tau) = \dim V$$ 
                    | $$\rk \tau + \null \tau = \dim V$$
              +cor Let $\dim V = \dim W \lt \infty$. Then $\tau \in \lin(V,W)$ is injective iff it is surjective.
            h2 Linear Transformations from $\mathbb{F}^n$ to $\mathbb{F}^m$
            .slide
              +thm("thm-mtx-lin-transf")
                ol
                  li $A \in \mathcal \Rightarrow  \tau_A = A\vv \in \lin(\FF^n,\FF^m)$
                  li $\tau \in \lin(\FF^n,\FF^m) \Rightarrow \tau = \tau_A$, where $A=[\tau \ee_1|\cdots|\tau\ee_n]$
              +def The matrix $A$ in #[a(href="#thm-mtx-lin-transf")] is called the #[span.kw matrix] of $\tau$.
              +thm Let $A\in \mathcal{M}_{m,n}(\FF)$
                ol
                  li $\tau_A:\FF^n \rightarrow \FF^m$ is injective $\Leftrightarrow \rk(A)=n$
                  li $\tau_A:\FF^n \rightarrow \FF^m$ is surjective $\Leftrightarrow \rk(A)=m$
            h2 Change of Basis Matrices
            .slide
              +def #[span.kw Change of basis/coordinate operator]: $\phi_{C,B}=\phi_C\phi^{-1}_B$ for ordered bases $C,B \basis V$.
              +thm If $B=(\bb_1,\dots,\bb_n),C \basis V$, then $phi_{C,B}$ is an automorphism for $\FF^n$, with matrix $M_{C,B}=[[\bb_1]_C|\cdots|[\bb_n]_C]$. Hence, $[\vv]_C = M_{C,B}[\vv]_B$ and $M_{B,C} = M_{C,B}^{-1}$.
              +thm If $A=M_{C,B}$, then one unknown ($A,B$ or $C$) can be uniquely determined from other two.
            h2 The Matrix of a Linear Transformation
            .slide 
              +thm If $\tau \in \lin(V,W)$ and $B\basis V,C\basis W$, then:
                | $$[\tau \vv]_C=[\tau]_{C,B}[\vv]_B \quad [\tau]_{C,B}=[[\tau \bb_1]_C|\cdots|[\tau \bb_n]_C]$$
                | If $V=W$ and $B=C$, then $[\tau]_{C,B}=[\tau]_B$ and $[\tau\vv]_B=[\tau]_B[\vv]_B$.
              +def #[span.kw Matrix] of $\tau$ #[span.kw w.r.t] bases $B$ and $C$: $[\tau]_{C,B}$.
              +thm#thm-lintransf-mtx-isom Let $\dim V_\FF \lt \infty, \dim W_\FF \lt \infty$ and $B=(\bb_1,\dots,\bb_n) \basis V, C=(\cc_1,\dots,\cc_m)\basis W$.
                ol
                  li $\mu: \lin(V,W)\isom \mathcal{M}_{m,n}(\FF)$ where $\mu(\tau)=[\tau]_{C,B}$, hence 
                    | $$\dim \lin(V,W)=\dim \mathcal{M}_{m,n}(\FF)=mn$$
                  li If $\sigma\in\lin(U,V), \tau\in\lin(V,W), B\basis U, C\basis V,D\basis W$, then
                    | $$[\tau\sigma]_{D,B}=[\tau]_{D,C}[\sigma]_{C,B}.$$
              +not #[a(href="#thm-lintransf-mtx-isom")].2. is the main reason for definition of matrix multiplication]
            h2 Change of Bases for Linear Transformations
            .slide
              +thm Let $\tau \in \lin(V,W), B,B'\basis V, C,C'\basis W$. Then
                | $$[\tau]_{C',B'}=M_{C',C}[\tau]_{C,B}M_{B,B'}.$$ 
              +cor If $\tau\in\lin(V,W), B,C\basis V$, then 
                | $$[\tau]_C=M_{C,B}[\tau]_BM_{C,B}^{-1}$$
            h2 Equivalence of Matrices
            .slide
              +def Two matrices $A,B$ are #[span.kw equivalent] if there exist invertible matrices $P,Q$ s.t.
                | $$B=PAQ^{-1}$$
              +thm $A,B\in \mathcal{M}_{m,n}$ are equivalent iff they represent the same $\tau\in\lin(V,W)$, but possibly w.r.t different ordered bases. In this case, $A,B$ represent the same $S\subset\lin(V,W)$.
            h2 Similarity of Matrices
            .slide
              +def Two matrices $A,B$ are #[span.kw similar], $A \sim B$, if $$B=PAP^{-1}$$ for some invertible matrix $P$. Equivalence classes associated with similarity are called #[span.kw similarity classes].
              +thm $A,B \in \mathcal{M}_n$ are similar iff they represent the same $\tau \in \lin(V)$ but possibly w.r.t different ordered bases. In this case, $A,B$ represent the same $S \subset \lin(V)$.
            h2 Similarity of Operators
            .slide
              +def $\tau,\sigma\in\lin(V)$ are #[span.kw similar], $\tau\sim\sigma$, if there exists an automorphism $\phi\in\lin(V)$ s.t. 
                | $$\sigma = \phi\tau\phi^{-1}.$$
                | The equivalence classes associated with similarity are called #[span.kw similarity classes].
              +thm $\tau,\sigma\in\lin(V)$ are similar iff there is a matrix $A$ that represents both operators, but w.r.t. possibly different ordered bases. In this case, $\tau, \sigma$ are represented by the same $S\subset \mathcal{M}_n$.
            h2 Invariant Subspaces and Reducing Pairs
            .slide
              +def $S \le V$ is #[span.kw invariant under] $\tau\in\lin(V)$ or $\tau$-#[span.kw invariant] if $\tau S\subseteq S$, i.e., if $\tau|_S\in\lin(S)$.
              +def $(S,T)$ #[span.kw reduces] $\tau\in\lin(V)$ if $V=S\oplus T$ and $S,T$ are $\tau$-invariant.
              +def If $(S,T)$ reduces $\tau$, then $\tau = \tau|_S \oplus \tau|_T$ is the #[span.kw direct sum] of $\tau|_S, \tau|_T$.
            h2 Projection Operators
            .slide
              +def Let $V=S\oplus T$. Then $\rho_{S,T}:V\rightarrow V$, where $\rho_{S,T}(\ss + \tt)=\ss$, for $\ss\in S, \tt \in T$, is called #[span.kw projection onto] $S$ #[span.kw along] $T$.
              +thm Let $\rho\in\lin(V)$
                ol
                  li $V=S\oplus T \Rightarrow \rho_{S,T}+\rho_{T,S}=\iota$
                  li $\rho=\rho_{S,T}\Rightarrow \im(\rho) = S, \ker(\rho)=T$ and $V=\im(\rho)\oplus\ker(\rho)$
                  li $\vv\in\im(\rho)\Leftrightarrow \rho\vv=\vv$
                  li If $\sigma\in\lin(V), V=\im(\rho)\oplus\ker(\sigma)$ and $\sigma|_{\im(\sigma)}=\iota$, then $\sigma$ is projection onto $\im(\sigma)$ along $\ker(\sigma)$.
              +def $\tau\in\lin(V)$ is #[span.kw idempotent] if $\tau^2 = \tau$.
              +thm $\tau\in\lin(V)$ is a projection iff it is idempotent.
            h3 Projections and Invariance
            .slide
              +thm $S \lt V$ is $\tau$-invariant iff $\exists \rho=\rho_{S,T}$ s.t. $$\rho \tau \rho=\tau \rho$$
              +thm $(S,T)$ reduces $\tau\in\lin(V)$ iff $\tau$ commutes with $\rho_{S,T}$.
            h3 Orthogonal projections and resolutions of the identity
            .slide
              +def Two projections $\rho, \sigma\in \lin(V)$ are #[span.kw orthogonal], $\rho\perp \sigma$, if $\rho\sigma=\sigma\rho=0$.
              +not $\rho \perp \sigma \Leftrightarrow \im(\rho)\subseteq \ker(\sigma)$ and $\im(\sigma) \subseteq \ker(\sigma)$
              +def A #[span.kw resolution of the identity] on $V$ is $\rho_1+\cdots+\rho_k=\iota$, where $\rho_i\perp\rho_j$ for $i\neq j$.
              +thm 
                ol 
                  li If $\sum_{i}^k \rho_i=\iota$ is a resolution of the identity, then $V=\sum_i^k \im(\rho_i)$ and $\rho_i$ is a projection onto $\im(\rho_i)$ along $\ker(\rho_i)=\bigoplus_{j\neq i} \im(\rho_j)$
                  li Conversely, if $V=\bigoplus_j^k S_i$ and if $\rho_i$ is projection onto $S_i$ along $\bigoplus_{j\neq i} S_j$, then $\sum_i^k\rho_i = \iota$ is a resolution of the identity.
            h3 The algebra of projections
            .slide
              +thm Let $\rho,\sigma$ be projections on $V_\FF$, with $\mathrm{char}(\FF)\neq 2$.
                ol
                  li $\rho+\sigma$ is a projection iff $\rho\perp\sigma$, where
                    | $$\im(\rho+\sigma)=\im(\rho)\oplus\im(\sigma) \quad \ker(\rho+\sigma)=\ker(\rho)\cap\ker(\sigma)$$
                  li $\rho-\sigma$ is a projection iff $\rho\sigma=\sigma\rho=\sigma$, where
                    | $$\im(\rho-\sigma)=\im(\rho)\cap\ker(\sigma) \quad \ker(\rho-\sigma)=\ker(\rho)\oplus\im(\sigma)$$
                  li $\rho\sigma$ is a projection if $\rho\sigma=\sigma\rho$, where
                    | $$\im(\rho\sigma)=\im(\rho)\cap\im(\sigma)\quad \ker(\rho\sigma)=\ker(\rho)+\ker(\sigma)$$


            h2 Topological Vector Spaces
            h3 The definition
            .slide
              +def $(V,\mathcal{T})$, where $\mathcal{T}$ is a topology on vector space $V$, is a #[span.kw topological vector space] if addition $A(\vv,\ww)=\vv+\ww$ and scalar multiplication $M(\alpha,\vv)=\alpha\vv$ are continuous functions.
            h3 The standard topology on $\RR^n$
            .slide
              +def $\RR^n$ is a topological vector space under the #[span.kw standard topology], with the set of #[span.kw open rectangles] $B=\{I_1\times\cdots\times I_n: I_i$'s are open intervals in $\RR\}$ as a base of the topology, which is also induced by the Euclidean metric on $\RR^n$.
            h3 The natural topology on $V$
            .slide
              +def The #[span.kw natural topology] $\mathcal{T}$ on the real vector space $V$ of dimension $n$ is a topology where all linear functionals are continuous.
              +thm For each real vector space $V$ of dimension $n$, there is a unique natural topology determined by the fact that the coordinate map $\phi: V \rightarrow \RR^n$ is a homeomorphism, where $\RR^n$ has the standard topology induced by the Euclidean metric.
            h2 Linear Operators on $V^\CC$
            .slide
              +def #[Complexification] of $\tau$: $\tau^\CC(\uu+\vv i)=\tau(\uu)+\tau(\vv)i$.
              +thm If $\tau,\sigma\in\lin(V)$, then
                ol
                  li $(\alpha\tau)^\CC = \alpha\tau^\CC, \alpha in \RR.$
                  li $(\tau+\sigma)^\CC = \tau^\CC+\sigma^\CC$
                  li $(\tau\sigma)^\CC = \tau^\CC\sigma^\CC$
                  li $[\tau\vv]^\CC = \tau^\CC(\vv^\CC)$
              +thm Let $\tau\in\lin(V_\RR)$ and $B\basis V$. Then $$[\tau^\CC]_{\mathrm{cpx}(B)}=[\tau]_B.$$
