html/linalg/modules2.pug
include base.pug
html(lang="en")
  include head.pug
  body
    header
      span $\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$
      span Subjects
      input(type="text", name="")
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator

      main.content
        .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
        .chapter#chp-modules-2
          h1 Modules II: Free and Noetherian Modules
          h2 The Rank of a Free Module
          h2 Free Modules and Epimorphisms
          h2 Noetherian Modules
          h2 The Hilbert Basis Theorem
          h2 Exercises

        .chapter#chp-modules-over-pid
          h1 Modules over a Principal Ideal Domain
          h2 Annihilators and Orders
          h2 Cyclic Modules
          h2 Free Modules over a Principal Ideal Domain
          h2 Torsion-Free and Free Modules
          h2 The Primary Cyclic Decomposition Theorem
          h2 The Invariant Factor Decomposition
          h2 Characterizing Cyclic Modules
          h2 Indecomposable Modules
          h2 Exercises 

        .chapter#chp-structure-linop
          h1 The Structure of a Linear Operator
          h2 The Module Associated with a Linear Operator
          h2 The Primary Cyclic Decomposition of $V_\tau$
          h2 The Characteristic Polynomial
          h2 Cyclic and Indecomposable Modules
          h2 The Big Picture
          h2 The Rational Canonical Form
          h2 Exercises

        .chapter#chp-eigen
          h1 Eigenvalues and Eigenvectors
          h2 Eigenvalues and Eigenvectors
          h2 Geometric and Algebraic Multiplicities
          h2 The Jordan Canonical Form
          h2 Triangularizability and Schur's Theorem
          h2 Diagonalizable Operators
          h2 Exercises

        .chapter#chp-innerproduct-spaces
          h1 Real and Complex Inner Product Spaces
          h2 Norm and Distance
          h2 Isometries
          h2 Orthogonality
          h2 Orthogonal and Orthonormal Sets
          h2 The Projection Theorem and Best Approximations
          h2 The Riesz Representation Theorem
          h2 Exercises
        
        .chapter#chp-normal-op
          h1 Structure Theory for Normal Operators
          h2 The Adjoint of a Linear Operator
          h2 Orthogonal Projections
          h2 Unitary Diagonalizability
          h2 Normal Operators
          h2 Special Types of Normal Operators
          h2 Self-Adjoint Operators
          h2 Unitary Operators and Isometries
          h2 The Structure of Normal Operators
          h2 Functional Calculus
          h2 Positive Operators
          h2 The Polar Decomposition of an Operator
          h2 Exercises

        .chapter#chp-metric-vector-space
          h1 Metric Vector Spaces: The Theory of Bilinear Forms
          h2 Symmetric, Skew-Symmetric and Alternate Forms
          h2 The Matrix of a Bilinear Form
          h2 Quadratic Forms
          h2 Orthogonality
          h2 Linear Functionals
          h2 Orthogonal Complements and Orthogonal Direct Sums
          h2 Isometries
          h2 Hyperbolic Spaces
          h2 Nonsingular Completions of a Subspace
          h2 The Witt Theorems: A Preview
          h2 The Classification Problem for Metric Vector Spaces
          h2 Symplectic Geometry
          h2 The Structure of Orthogonal Geometries: Orthogonal Bases
          h2 The Classification of Orthogonal Geometries: Canonical Forms
          h2 The Orthogonal Group
          h2 The Witt Theorems for Orthogonal Geometries
          h2 Maximal Hyperbolic Subspaces of an Orthogonal Geometry
          h2 Exercises

        .chapter#chp-metric-spaces
          h1 Metric Spaces
          h2 The Definition
          h2 Open and Closed Sets
          h2 Convergence in a Metric Space
          h2 The Closure of a Set
          h2 Dense Subsets
          h2 Continuity
          h2 Completeness
          h2 Isometries
          h2 The Completion of a Metric Space
          h2 Exercises

        .chapter#chp-hilbert-space
          h1 Hilbert Spaces
          h2 A Brief Review
          h2 Hilbert Spaces
          h2 Infinite Series
          h2 An Approximation Problem
          h2 Hilbert Bases
          h2 Fourier Expansions
          h2 A Characterization of Hilbert Bases
          h2 Hilbert Dimension
          h2 A Characterization of Hilbert Spaces
          h2 The Riesz Representation Theorem
          h2 Exercises

        .chapter#chp-tensor-product
          h1 Tensor Products
          h2 Universality
          h2 Bilinear Maps
          h2 Tensor Products
          h2 When Is a Tensor Product Zero?
          h2 Coordinate Matrices and Rank
          h2 Characterizing Vectors in a Tensor Product
          h2 Defining Linear Transformations on a Tensor Product
          h2 The Tensor Product of Linear Transformations
          h2 Change of Base Field
          h2 Multilinear Maps and Iterated Tensor Products
          h2 Tensor Spaces
          h2 Special Multilinear Maps
          h2 Graded Algebras
          h2 The Symmetric and Antisymmetric
          h2 Tensor Algebras
          h2 The Determinant
          h2 Exercises

        .chapter#chp-positive-solutions
          h1 Positive Solutions to Linear Systems:
          h2 Convexity and Separation
          h2 Convex, Closed and Compact Sets
          h2 Convex Hulls
          h2 Linear and Affine Hyperplanes
          h2 Separation
          h2 Exercises

        .chapter#chp-affine-geometry
          h1 Affine Geometry
          h2 Affine Geometry
          h2 Affine Combinations
          h2 Affine Hulls
          h2 The Lattice of Flats
          h2 Affine Independence
          h2 Affine Transformations
          h2 Projective Geometry
          h2 Exercises

        .chapter#chp-singular-values
          h1 Singular Values and the Moore–Penrose Inverse
          h2 Singular Values
          h2 The Moore–Penrose Generalized Inverse
          h2 Least Squares Approximation
          h2 Exercises
          h2 An Introduction to Algebras
          h2 Motivation
          h2 Associative Algebras
          h2 Division Algebras
          h2 Exercises

html/linalg/modules2.html
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1.0"/><title>HTML5 Example</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"/><script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"> </script><script defer="defer" src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body, {        
// customised options        
// • auto-render specific keys, e.g.:        
delimiters: [        
    {left: '$$', right: '$$', display: true},        
    {left: '$', right: '$', display: false},        
    {left: '\\(', right: '\\)', display: false},        
    {left: '\\[', right: '\\]', display: true}        
],        
// • rendering keys, e.g.:        
throwOnError : false      
});"></script><link rel="stylesheet" href="css/base.css"/><script src="js/anime.min.js"></script><link rel="icon" href="../gacs/figs/favicon.svg" type="image/svg+xml"/></head><body><header><span>$\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$</span><span>Subjects</span><input type="text" name=""/></header><main><div class="outline"><div class="title">Linear Algebra</div><ol><li>Vector Spaces</li><li>Linear Transformations</li><li>The Isomorphism Theorems</li><li>Modules I: Basis Properties</li><li>Modules II: Free and Noetherian Modules</li><li>Modules over a Principal Ideal Domain</li><li>The Structure of a Linear Operator</li></ol></div><main class="content"><div class="legend"><span class="blk-letter def-letter">D</span>efinition <span class="blk-letter thm-letter">T</span>heorem <span class="blk-letter ex-letter">E</span>xample <span class="blk-letter lem-letter">L</span>emma <span class="blk-letter cor-letter">C</span>orollary <span class="blk-letter prf-letter">P</span>roof</div><div class="chapter" id="chp-modules-2"><h1>Modules II: Free and Noetherian Modules</h1><h2>The Rank of a Free Module</h2><h2>Free Modules and Epimorphisms</h2><h2>Noetherian Modules</h2><h2>The Hilbert Basis Theorem</h2><h2>Exercises</h2></div><div class="chapter" id="chp-modules-over-pid"><h1>Modules over a Principal Ideal Domain</h1><h2>Annihilators and Orders</h2><h2>Cyclic Modules</h2><h2>Free Modules over a Principal Ideal Domain</h2><h2>Torsion-Free and Free Modules</h2><h2>The Primary Cyclic Decomposition Theorem</h2><h2>The Invariant Factor Decomposition</h2><h2>Characterizing Cyclic Modules</h2><h2>Indecomposable Modules</h2><h2>Exercises </h2></div><div class="chapter" id="chp-structure-linop"><h1>The Structure of a Linear Operator</h1><h2>The Module Associated with a Linear Operator</h2><h2>The Primary Cyclic Decomposition of $V_\tau$</h2><h2>The Characteristic Polynomial</h2><h2>Cyclic and Indecomposable Modules</h2><h2>The Big Picture</h2><h2>The Rational Canonical Form</h2><h2>Exercises</h2></div><div class="chapter" id="chp-eigen"><h1>Eigenvalues and Eigenvectors</h1><h2>Eigenvalues and Eigenvectors</h2><h2>Geometric and Algebraic Multiplicities</h2><h2>The Jordan Canonical Form</h2><h2>Triangularizability and Schur's Theorem</h2><h2>Diagonalizable Operators</h2><h2>Exercises</h2></div><div class="chapter" id="chp-innerproduct-spaces"><h1>Real and Complex Inner Product Spaces</h1><h2>Norm and Distance</h2><h2>Isometries</h2><h2>Orthogonality</h2><h2>Orthogonal and Orthonormal Sets</h2><h2>The Projection Theorem and Best Approximations</h2><h2>The Riesz Representation Theorem</h2><h2>Exercises</h2></div><div class="chapter" id="chp-normal-op"><h1>Structure Theory for Normal Operators</h1><h2>The Adjoint of a Linear Operator</h2><h2>Orthogonal Projections</h2><h2>Unitary Diagonalizability</h2><h2>Normal Operators</h2><h2>Special Types of Normal Operators</h2><h2>Self-Adjoint Operators</h2><h2>Unitary Operators and Isometries</h2><h2>The Structure of Normal Operators</h2><h2>Functional Calculus</h2><h2>Positive Operators</h2><h2>The Polar Decomposition of an Operator</h2><h2>Exercises</h2></div><div class="chapter" id="chp-metric-vector-space"><h1>Metric Vector Spaces: The Theory of Bilinear Forms</h1><h2>Symmetric, Skew-Symmetric and Alternate Forms</h2><h2>The Matrix of a Bilinear Form</h2><h2>Quadratic Forms</h2><h2>Orthogonality</h2><h2>Linear Functionals</h2><h2>Orthogonal Complements and Orthogonal Direct Sums</h2><h2>Isometries</h2><h2>Hyperbolic Spaces</h2><h2>Nonsingular Completions of a Subspace</h2><h2>The Witt Theorems: A Preview</h2><h2>The Classification Problem for Metric Vector Spaces</h2><h2>Symplectic Geometry</h2><h2>The Structure of Orthogonal Geometries: Orthogonal Bases</h2><h2>The Classification of Orthogonal Geometries: Canonical Forms</h2><h2>The Orthogonal Group</h2><h2>The Witt Theorems for Orthogonal Geometries</h2><h2>Maximal Hyperbolic Subspaces of an Orthogonal Geometry</h2><h2>Exercises</h2></div><div class="chapter" id="chp-metric-spaces"><h1>Metric Spaces</h1><h2>The Definition</h2><h2>Open and Closed Sets</h2><h2>Convergence in a Metric Space</h2><h2>The Closure of a Set</h2><h2>Dense Subsets</h2><h2>Continuity</h2><h2>Completeness</h2><h2>Isometries</h2><h2>The Completion of a Metric Space</h2><h2>Exercises</h2></div><div class="chapter" id="chp-hilbert-space"><h1>Hilbert Spaces</h1><h2>A Brief Review</h2><h2>Hilbert Spaces</h2><h2>Infinite Series</h2><h2>An Approximation Problem</h2><h2>Hilbert Bases</h2><h2>Fourier Expansions</h2><h2>A Characterization of Hilbert Bases</h2><h2>Hilbert Dimension</h2><h2>A Characterization of Hilbert Spaces</h2><h2>The Riesz Representation Theorem</h2><h2>Exercises</h2></div><div class="chapter" id="chp-tensor-product"><h1>Tensor Products</h1><h2>Universality</h2><h2>Bilinear Maps</h2><h2>Tensor Products</h2><h2>When Is a Tensor Product Zero?</h2><h2>Coordinate Matrices and Rank</h2><h2>Characterizing Vectors in a Tensor Product</h2><h2>Defining Linear Transformations on a Tensor Product</h2><h2>The Tensor Product of Linear Transformations</h2><h2>Change of Base Field</h2><h2>Multilinear Maps and Iterated Tensor Products</h2><h2>Tensor Spaces</h2><h2>Special Multilinear Maps</h2><h2>Graded Algebras</h2><h2>The Symmetric and Antisymmetric</h2><h2>Tensor Algebras</h2><h2>The Determinant</h2><h2>Exercises</h2></div><div class="chapter" id="chp-positive-solutions"><h1>Positive Solutions to Linear Systems:</h1><h2>Convexity and Separation</h2><h2>Convex, Closed and Compact Sets</h2><h2>Convex Hulls</h2><h2>Linear and Affine Hyperplanes</h2><h2>Separation</h2><h2>Exercises</h2></div><div class="chapter" id="chp-affine-geometry"><h1>Affine Geometry</h1><h2>Affine Geometry</h2><h2>Affine Combinations</h2><h2>Affine Hulls</h2><h2>The Lattice of Flats</h2><h2>Affine Independence</h2><h2>Affine Transformations</h2><h2>Projective Geometry</h2><h2>Exercises</h2></div><div class="chapter" id="chp-singular-values"><h1>Singular Values and the Moore–Penrose Inverse</h1><h2>Singular Values</h2><h2>The Moore–Penrose Generalized Inverse</h2><h2>Least Squares Approximation</h2><h2>Exercises</h2><h2>An Introduction to Algebras</h2><h2>Motivation</h2><h2>Associative Algebras</h2><h2>Division Algebras</h2><h2>Exercises</h2></div></main></main></body></html>
