html/linalg/modules1.html
<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8"><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>HTML5 Example</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous"><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"> </script><script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous" onload="renderMathInElement(document.body, {        
// customised options        
// • auto-render specific keys, e.g.:        
delimiters: [        
    {left: '$$', right: '$$', display: true},        
    {left: '$', right: '$', display: false},        
    {left: '\\(', right: '\\)', display: false},        
    {left: '\\[', right: '\\]', display: true}        
],        
// • rendering keys, e.g.:        
throwOnError : false      
});"></script><link rel="stylesheet" href="css/base.css"><script src="js/anime.min.js"></script><link rel="icon" href="../gacs/figs/favicon.svg" type="image/svg+xml"></head><body><header><span>$\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$</span><span>Subjects</span><input type="text" name=""></header><main><div class="outline"><div class="title">Linear Algebra</div><ol><li>Vector Spaces</li><li>Linear Transformations</li><li>The Isomorphism Theorems</li><li>Modules I: Basis Properties</li><li>Modules II: Free and Noetherian Modules</li><li>Modules over a Principal Ideal Domain</li><li>The Structure of a Linear Operator</li></ol></div><main class="content"><div class="legend"><span class="blk-letter def-letter">D</span>efinition <span class="blk-letter thm-letter">T</span>heorem <span class="blk-letter ex-letter">E</span>xample <span class="blk-letter lem-letter">L</span>emma <span class="blk-letter cor-letter">C</span>orollary <span class="blk-letter prf-letter">P</span>roof</div><div class="chapter" id="chp-modules-1"><h1>Modules I: Basic Properties</h1><h2>Motivation</h2><h2>Modules</h2><h2>Submodules</h2><h2>Spanning Sets</h2><h2>Linear Independence</h2><h2>Torsion Elements</h2><h2>Annihilators</h2><h2>Free Modules</h2><h2>Homomorphisms</h2><h2>Quotient Modules</h2><h2>The Correspondence and Isomorphism Theorems</h2><h2>Direct Sums and Direct Summands</h2><h2>Modules Are Not as Nice as Vector Spaces</h2><h2>Exercises</h2></div></main></main></body></html>

html/linalg/modules1.pug
doctype html
include base.pug
html(lang="en")
  include head.pug
  body
    header
      span $\gdef\cv#1{\bold{#1}} \gdef\vv{\cv{v}} \gdef\xx{\cv{x}} \gdef\yy{\cv{y}} \gdef\FF{\mathbb{F}} \gdef\uu{\cv{u}} \gdef\ww{\cv{w}} \gdef\aa{\cv{a}} \gdef\span#1{\left\langle #1 \right\rangle} \gdef\ss{\cv{s}} \gdef\tt{\cv{t}} \gdef\basis{\lessdot} \gdef\RR{\mathbb{R}} \gdef\CC{\mathbb{C}}$
      span Subjects
      input(type="text", name="")
    main
      div(class="outline")
        .title Linear Algebra
        ol
          li Vector Spaces
          li Linear Transformations
          li The Isomorphism Theorems
          li Modules I: Basis Properties
          li Modules II: Free and Noetherian Modules
          li Modules over a Principal Ideal Domain
          li The Structure of a Linear Operator

      main.content
        .legend #[span.blk-letter.def-letter D]efinition #[span.blk-letter.thm-letter T]heorem #[span.blk-letter.ex-letter E]xample #[span.blk-letter.lem-letter L]emma #[span.blk-letter.cor-letter C]orollary #[span.blk-letter.prf-letter P]roof
        .chapter#chp-modules-1
          h1 Modules I: Basic Properties
          h2 Motivation
          h2 Modules
          h2 Submodules
          h2 Spanning Sets
          h2 Linear Independence
          h2 Torsion Elements
          h2 Annihilators
          h2 Free Modules
          h2 Homomorphisms
          h2 Quotient Modules
          h2 The Correspondence and Isomorphism Theorems
          h2 Direct Sums and Direct Summands
          h2 Modules Are Not as Nice as Vector Spaces
          h2 Exercises
